$font-color-dark: #333;

/* ---------------------------------
1. PRIMARY STYLES
--------------------------------- */
html {
  font-size: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  touch-action: manipulation;
}

body {
  font-size: 18px;
  line-height: 1.5;
  font-family: "PT Serif", serif;
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
span,
li,
img,
inpot,
button {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  font-weight: inherit;
}

h1,
h2,
h3 {
  letter-spacing: 1px;
  font-family: "PT Serif", cursive;
}

p {
  line-height: 1.6;
  font-size: 1.05em;
  font-weight: 400;
  color: $font-color-dark;
}

h1 {
  font-size: 4em;
  line-height: 1;
}
h2 {
  font-size: 2.2em;
  line-height: 1.1;
}
h3 {
  font-size: 1.7em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.9em;
  letter-spacing: 1px;
}

a,
button {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  line-height: 1;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

a:focus,
a:active,
a:hover,
button:focus,
button:active,
button:hover,
a b.light-color:hover {
  text-decoration: none;
  color: #ffa804;
}

b {
  font-weight: 600;
}

img {
  width: 100%;
}

li {
  list-style: none;
  display: inline-block;
}

span {
  display: inline-block;
}

button {
  outline: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

.icon {
  font-size: 1.1em;
  display: inline-block;
  line-height: inherit;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  line-height: inherit;
}

b.max-bold {
  font-weight: 700;
}

/* ---------------------------------
  2. COMMONS FOR PAGE DESIGN
  --------------------------------- */

.toggle-header {
  cursor: pointer;

  svg {
    transform: rotate(0deg);
    transition: transform 0.2s ease;
  }

  &:hover {
    @extend .font-yellow;
  }

  &.expanded {
    svg {
      transform: rotate(90deg);
    }
  }
}

.section {
  padding: 50px 0;
}

.section .heading {
  margin-bottom: 60px;
}

.section .heading:before {
  content: "";
  height: 10px;
  width: 50px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: block;
  background: #ffa804;
}

.justify-center {
  justify-content: center;
}

.mt-10 {
  margin-top: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}
.mb-50 {
  margin-bottom: 50px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.font-yellow {
  color: #ffa600;
}

.font-semi-white {
  color: #ddd;
}

.font-lite-black {
  color: #999;
}

/* ---------------------------------
  4. INTRO SECTION
  --------------------------------- */

/*
  https://www.desktopbackground.org/wallpaper/gallery-for-physiotherapy-hd-wallpapers-217390
  */
.intro-section {
  padding: 60px 0 120px;
  position: relative;
  background-size: cover;
  background-image: url("../../public/images/bg3.jpg");
  z-index: 1;
}

.intro-section:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

/*.intro-section:after{ content: ''; position: absolute; bottom: 0; left: 0; right: 0;
      height: 150px; z-index: -1; background: #fff; } */

.intro {
  margin-bottom: -60px;
  padding: 0 50px 50px;
  margin-top: 100px;
  text-align: center;
  background: #fff;
}

.intro .profile-img {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  border: 3px solid white;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: -100px;
  margin-bottom: -70px;
}

.intro .information > li {
  display: block;
  margin: 5px 0;
}

.intro .social-icons > li > a {
  height: 35px;
  line-height: 35px;
  width: 35px;
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  margin: 0 5px 5px;
  background: #887392;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro .social-icons > li > a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  border-radius: 20px;
  background: #ffa804;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.intro .social-icons > li > a:hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.gallery {
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.show-more-button {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  padding: 20px 30px;
  font-family: "PT Serif", serif;
}

/* ---------------------------------
  7. EXPERIENCE SECTION
  --------------------------------- */

.education-wrapper {
  position: relative;
}

.education-wrapper .education {
  position: relative;
}

.education-wrapper .education:after {
  content: "";
  position: absolute;
  top: 9px;
  left: -44px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 0 0 8px rgba(255, 171, 0, 0.4);
  background: #ffab00;
}

.dark-section {
  background: #28023d;
  color: #fff;
}

.dark-section + .dark-section {
  padding-top: 40px;
}

.experience .list > li {
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
}

.dark-section .list > li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  height: 7px;
  width: 7px;
  border-radius: 7px;
  border: 2px solid #fff;
}

.dark-section {
  font-size: 20px;
}

.section ul {
  margin-bottom: 30px;
}

.light-section .list > li {
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
}

.light-section .list > li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  height: 7px;
  width: 7px;
  border-radius: 7px;
  border: 2px solid $font-color-dark;
}

.iconboxes-section li {
  display: block;
}

/* ---------------------------------
  10. FOOTER
  --------------------------------- */

.copyright {
  text-align: center;
  padding: 30px 10px 30px;
  font-size: 12px;
}

.custom-img {
  width: 100% !important;
  position: relative !important;
}

.unset-img {
  width: 100%;
  position: relative;
}
.unset-img > div {
  position: unset !important;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}

.row {
  gap: 0.5rem;
  display: flex;
}

.col-sm-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-sm-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-sm-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
