/* Screens Resolution : 992px */
@media only screen and (max-width: 992px) {
  .intro-section {
    padding-top: 250px;
  }
}

/* Screens Resolution : 767px */
@media only screen and (max-width: 767px) {
  p {
    line-height: 1.4;
  }

  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.1em;
  }

  .section {
    padding: 50px 0 20px;
  }

  .section .heading {
    margin-bottom: 30px;
  }

  .intro-section {
    padding-top: 100px;

    .intro {
      margin-bottom: -30px;
    }
  }

  .education-wrapper:after,
  .education-wrapper .education:after {
    display: none;
  }
}

/* Screens Resolution : 575px */
@media only screen and (max-width: 575px) {
  body {
    font-size: 14px;
  }

  .intro {
    padding: 0 20px 40px;
  }

  .gallery {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 15px;
  }

  .row {
    display: block;
  }

  .col-sm-4,
  .col-sm-6,
  .col-sm-8 {
    width: 100%;
    max-width: 100%;
  }
}
